<h1>Listing messages for: <%= current_user.name if current_user != nil %></h1>


<table>
  <tr>
    <th>User from</th>
    <th>User to</th>
    <th>Subject</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.user_from %></td>
    <td><%= message.user_to %></td>
    <td><%= message.subject %></td>
    <td><%= message.desc %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
