<div class="row">
	<div class="span3">
<p id="notice"><%= notice %></p>
  <img src="<%= @profile.avatar %>" class="img-circle"/>

  <b>Idade:</b>
  <%= @profile.idade %>
</p>

<p>
  <b>Sexo:</b>
  <%= @profile.sexo %>
</p>

<p>
  <b>Telefone:</b>
  <%= @profile.telefone %>
</p>

<p>
  <b>Local:</b>
  <%= @profile.local %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>
</div>