<div class="row">
<div class="span3" style="border-right:1px solid black;">

<h3><%= @user.name %></h3>
<p>Email: <%= @user.email if @user.email %></p>

<%= render :file => 'profiles/show' %>

</div>


<div class="span8 offset1">
	<% @user.cars.each do |c| %>
	<img src="<%= c.carphoto %>" class="img-polaroid" width="600px;" />
    <h6><%= c.marca %> -
    <%= c.modelo %> -
    <%= c.variacao %> -
    <%= c.ano %> -
    <%= c.kilometragem %></h6>
    <% end %>
</div>

</div>
</div>
