<div class="span8">

<p id="notice"><%= notice %></p>

<img src="<%= @car.carphoto %>" />

<p>
Proprietario:
<%= @car.user.name %>
</p>

<p>
  <b>Marca:</b>
  <%= @car.marca %>
</p>

<p>
  <b>Modelo:</b>
  <%= @car.modelo %>
</p>

<p>
  <b>Variacao:</b>
  <%= @car.variacao %>
</p>

<p>
  <b>Ano:</b>
  <%= @car.ano %>
</p>

<p>
  <b>Cor:</b>
  <%= @car.cor %>
</p>

<p>
  <b>Kilometragem:</b>
  <%= @car.kilometragem %>
</p>


<%= link_to 'Edit', edit_user_car_path(@car.user, @car) %> |
<%= link_to 'Back', user_cars_path %>
</div>