<p id="notice"><%= notice %></p>

<p>
  <b>Marca:</b>
  <%= @car.marca %>
</p>

<p>
  <b>Ano:</b>
  <%= @car.ano %>
</p>

<p>
  <b>Modelo:</b>
  <%= @car.modelo %>
</p>

<p>
  <b>Variacao:</b>
  <%= @car.variacao %>
</p>

<p>
  <b>Cor:</b>
  <%= @car.cor %>
</p>

<p>
  <b>Kilometragem:</b>
  <%= @car.kilometragem %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
