    <%= render 'layouts/menu' %>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="<%= @car.carphoto %>" alt="">
        </div>
        <div class="item">
          <img src="<%= @car.carphoto %>" alt="">
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">

      <!-- Three columns of text below the carousel -->
      <div class="row">
<p id="notice"><%= notice %></p>

        <div class="span7">
         <h2> <%= @car.marca %> -  <%= @car.modelo %></h2> <h4>   <%= @car.variacao %>
  <%= @car.ano %>
  <%= @car.cor %>
  <%= @car.kilometragem %></h4>


         <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <h4>Regras</h4>
         <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <%= link_to 'Edit', edit_user_car_path(@car.user, @car) %> |
<%= link_to 'Back', user_cars_path %>
         <hr>
         <div class="span2 card-mini text-center">
          <h4>Preço por Dia</h4>
          <h1>100€</h1>
          <a href="#" class="btn btn-warning">Alugar</a>
        </div>
        
        <div class="span2 card-mini text-center">
          <h4>Preço por Semana</h4>
          <h1>400€</h1>
          <a href="#" class="btn btn-warning">Alugar</a>

        </div>

        <div class="span2 card-mini text-center">
          <h4>Preço por Mês</h4>
          <h1>4000€</h1>
          <a href="#" class="btn btn-warning">Alugar</a>

        </div>

      </div><!-- /.span4 -->
      <div class="span3 pull-right card text-center">
        <img src="<%= @car.user.profile.avatar %>" class="img-polaroid img-circle" />
        <h4><%= @car.user.name %></h4>
        <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-warning btn-large" href="#">Contactar o Dono &raquo;</a></p>
      </div><!-- /.span4 -->
    </div><!-- /.row -->

  </div>